.course__list {
    margin-left: 25px;
    /* margin-right: 15px; */
}

.course__list h2 {
    margin: 15px 20px;
}

.course__list a{
    color: #000;
    text-decoration: none;
}

.course__details__link {
    display: flex;
}

.course__tile, .course__info__time__and__level {
    display: flex;
}

.course__tile {
    max-width: 900px;
    margin: 20px;
    border-bottom: 1px solid rgb(187, 187, 187);
    transition: box-shadow 0.3s;
}

.course__tile:last-child {
    border-bottom: none;
}

.course__tile:hover {
    box-shadow: 0 0 8px grey;
}

.course__image {
    display: flex;
    align-items: center;
}

.course__image img {
    width: 300px;
    max-height: 80%;
    object-fit: cover;
}

.course__info, .course__info__price p {
    padding: 20px;
}

.course__info h3, .course__info p {
    padding-bottom: 8px;
}

.course__info__time__and__level p {
    margin-right: 25px;
}

.course__info__rating {
    color: orange;
    font-weight: bold;
}

.course__info__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.course__info__price p {
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

.course__info__author, .course__info__category, .course__info__time__and__level {
    font-size: 14px;
}

.course__info__cart__btn {
    display: none;
    width: 38px;
    height: 38px;
    margin-bottom: 25px;
    border: 1px solid #18ac9d;
    border-radius: 50%;
    background-color: #edf2f4;
    color: #18ac9d;
    cursor: pointer;
    transition: all 0.3s;
}

.course__info__cart__btn:hover {
    background-color: #18ac9d;
    color: #edf2f4;
}

.cart_icon {
    padding-top: 5px;
    font-size: 25px;
    color: #929292;
    transition: color 0.3s;
}

.cart_icon:hover {
    color: #edf2f4;
}

.course__info__cart__btn--disabled {
    display: none;
    width: 38px;
    height: 38px;
    margin-bottom: 25px;
    border: 1px solid #929292;
    border-radius: 50%;
    background-color: #edf2f4;
    color: #929292;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course__info__cart__btn--disabled:hover {
    background-color: #929292;
}

.course__details__link:hover > .course__info__price > .course__info__cart__btn {
    display: block;
}

.course__details__link:hover > .course__info__price > .course__info__cart__btn--disabled {
    display: block;
}

@media screen and (max-width: 830px) {
    .course__info__summary {
        display: none;
    }

    .course__image {
        align-items: flex-start;
        margin-top: 20px;
    }

    .course__image img {
        width: 180px; 
        height: 150px;
        min-height: initial;
    }
}

@media screen and (max-width: 600px) {
    .course__list {
        margin-left: initial;
    }

    .course__image img {
        width: 150px;
        height: 120px;
    }
}

@media screen and (min-width: 451px) and (max-width: 668px) {
    .course__info__summary {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .course__details__link {
        flex-direction: column;
    }

    .course__image {
        margin-top: 0;
    }

    .course__image img {
        min-width: 100%;
        min-height: 200px;
    }

    .course__info__price {
        flex-direction: row;
    }

    .course__info__cart__btn {
        margin-bottom: 15px;
        margin-right: 20px;
    }
}