.header__section{
  max-width: 600px;
  padding: 30px;
  font-family: "Roboto", Arial, sans-serif;
}

.header__section h1{
  color: #2ec4b6;
  font-weight: 500;
  font-size: 68px;
}

.header__section h2{
  color: #fdfffc;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}