.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  top: 40px;
  width: 100%;
  background-color: #2ec4b6;
}

.header__nav div{
  display: flex;
  padding: 0 15px;
}

.header__nav a{
  padding: 18px 10px;
  color: #011627;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}