body {
  background-color: #edf2f4;
}

BsFillStarFill {
  color: #ff9f1c;
  padding: 4px 4px 0 0;
}

.star {
  color: #ff9f1c;
  padding: 4px 4px 0 0;
}

.starHalf {
  color: #ff9f1c;
  padding: 4px 4px 0 0;
}
