*{
    font-family: Roboto;        
}

.socialMEdiaIcons {
    display: flex;
    gap: 10px;
    padding-top: 7px;
}

.socialIcon:hover {
    cursor: pointer;
    color: orange;
}

.aboutUsListFooter {
    padding-top: 7px;
    list-style: none;
    color: white;
}

a.linkFooter{
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

a.linkFooter:hover {
    color: orange;
}

.columnsFooter {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 170px;
}

.leftColumnFooter {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media (max-width: 450px) {
    .columnsFooter{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 40px;
    }
  }

.copyright {
    text-align: center;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.logoFooter img{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    max-width: 130px;
}

.logoFooter:hover {
    color: orange;
    cursor: pointer;
}