*{
    font-family: Roboto;        
}

.socialMEdiaIcons {
    display: flex;
    gap: 10px;
    padding-top: 7px;
}

.socialIcon:hover {
    cursor: pointer;
    color: orange;
}

.aboutUsListFooter {
    padding-top: 7px;
    list-style: none;
    color: white;
}

a.linkFooter{
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

a.linkFooter:hover {
    color: orange;
}

.columnsFooter {
    display: flex;
    justify-content: center;
    gap: 170px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    /* padding-right: 10%; */
    padding-bottom: 30px;
    padding-top: 20px;
}

.logoFooter {
    padding-left: 11%;
    padding-top: 30px;
    padding-bottom: 15px;
}