
/*STYLING OF AN EMPTY BASKET ELEMENTS*/
.cart__wrapper h2 {
    margin: 25px auto;
    max-width: 75%;
}

.empty__cart__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 25px;
    border: 1px solid rgb(194, 194, 194);
    max-width: 75%;
}

.empty__cart__message button {
    margin-top: 10px;
    padding: 12px 16px;
    border: 1px solid #E71D36;
    color: #E71D36;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.empty__cart__message button:hover {
    background-color: #E71D36;
    color: #edf2f4;
}